.review-card {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 320px;
  align-items: center;
  justify-content: space-around;
  padding: 10%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.xcard-header {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}

.xcard-body {
  width: 100%;
  height: 60%;
  text-align: justify;
  padding: 2%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.xcard-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.xcard-avatar-img {
  width: 70%;
}

.reviewer {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.xcard-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #256186;
}
